body {
}
    .countdown {

        margin-top: 100px;
    }

    h1{
        font-size: 36px;
    }

    #countdown {
        font-size: 48px;
        background-color: antiquewhite;
        padding: 10px;
        margin-left: 450px;
        margin-right: 450px;
        border-radius: 450px;

        color: black;
    }